<p id="notice"><%= notice %></p>

<h1>Songs</h1>
<!--<div class="spinner-border" role="status">-->
<!--  <span class="sr-only">Loading...</span>-->
<!--</div>-->


<%= button_to 'Random Song', random_song_path, method: :get, class: "btn btn-info " %>


<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Time</th>
      <th>User</th>
      <th>Play</th>
      <th> Edit </th>
      <th> Destroy</th>
    </tr>
  </thead>

  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= song.title %></td>
        <td><%= song.author %></td>
        <td><%= song.time %></td>
        <td><%= song.user_id %></td>
        <td><%= button_to 'Play', song , method: :get%></td>
        <% if song.user == current_user %>
        <td><%= button_to 'Edit', edit_song_path(song), method: :get %></td>
        <td><%= button_to 'Destroy', song, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>




<br>

